.featured-series-container {
  padding: 20px;
  background-color: #1F1F1F;
  color: white;
  font-family: Arial, sans-serif;
}

.series-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 30px;
  padding: 10px 0;
}

.series-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 330px;
  box-sizing: border-box;
  cursor: pointer;
}

.series-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.series-item img:hover {
  transform: scale(1.1);
}

.series-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.series-details button {
  background-color: #0e9688c3;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 7px;
  transition: background-color 0.3s;
  margin: 2px;
}

.series-details button:hover {
  background-color: #009687a8;
}
