/* Common Styles */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

a:hover {
  text-decoration: underline;
}

img {
  height: auto;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px; /* Increase padding for a taller header */
  background-color: #1F1F1F;
  color: white;
  height: 100px; /* Set a fixed height */
}

.header .logo {
  font-size: 48px; /* Increased size */
  font-weight: bold;
}

.header .logo span {
  font-size: 60px; /* Increased size for Huko */
}

.header .logo a {
  color: white;
  text-decoration: none;
}

.header nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header nav .center-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

.header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

/* Search Box Styles */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-container input[type="text"] {
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px; /* Adjust the width as needed */
}

.search-container button {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: #0e9688c3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.search-container button:hover {
  background-color: #009687a8;
}

/* Main Content Styles */
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer Styles */
.footer {
  background-color: #1F1F1F;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
}

.footer .logo {
  font-size: 48px; /* Increased size */
  font-weight: bold;
}

.footer .logo span {
  font-size: 60px; /* Increased size for Huko */
}

.footer .nav, 
.footer .actions, 
.footer .links {
  display: flex;
  gap: 20px;
}

.footer .store-links img {
  width: 140px;
}

.footer .social-links img {
  width: 50px;
}

.footer .links {
  flex-direction: column;
  align-items: center; /* Added to center align */
  gap: 10px; /* Added to space between rows */
}

.footer .links .row {
  display: flex;
  gap: 20px; /* Added to space between links */
}

.logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d32f2f;
}